__pycache__
*.py[cod]
*$py.class
*.so
*.egg-info
dist
build
.eggs
.env
.venv
venv
env
node_modules
.next
out
.git
.github
.vscode
.idea
*.md
!README.md
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
